.cross {
  /* font-size: 9rem;
  padding-bottom: 1.8rem;
  color: #fff; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.verticalLine {
  position: absolute;
  width: 8px;
  height: 90px;
  background-color: #fff;
  transform: rotate(45deg);
}
.horizontalLine {
  position: absolute;
  width: 90px;
  height: 8px;
  background-color: #fff;
  transform: rotate(45deg);
}
